/* */
body {
	background: #1E1E1E;
	color: #FFFFFF;
	font: normal 100% Helvetica, Arial, sans-serif;
}

h1.heading {
	width: 30%; /* 360 / 1200 = 0.30 */
	padding-left: 1em;
	background: rgb(143, 223, 254); /* Fallback */
	background: rgba(143, 223, 254, 0.5);
}

h1.entry {
	color: #1E1E1E;
	font-size: 5em; /* 80px / 16px = 5em */
	text-align: center;
}

h1.add {
	color: #FFFFFF;
	font-size: 5em; /* 80px / 16px = 5em */
	text-align: center;
}

#container {
	margin: 40px auto;
	padding: 0 1em;
	max-width: 75em; /* 1200px / 16px = 75em */

	/* Test max width of 81.25em or 1300px */
}

.content {}

.white {
	background-color: #FFFFFF;
}

.vanilla {
	background-color: #F3E5AB;
}

.block {
	float: left;
	margin: 1em 1em;
	height: 12.5em; /* 200px / 16px = 12.5em */
	width: 12.5em;  /* 200px / 16px = 12.5em */

	-webkit-touch-callout: none;

	-webkit-user-select: none;

	-khtml-user-select: none;

	-moz-user-select: none;

	-ms-user-select: none;

	user-select: none;
}

.dashed {
	border-style: dashed;
	border-color: #FFFFFF;
	border-width: .0625em; /* 1px / 16px = 12.5em */
	margin: .9375em; /* 15px / 16px = 9375em */
}